<div class="container p-4">
<div class="card p-4" style="width: 60rem;">
  <h5 class="card-title" mx-auto> <h1 class="text-success display-4 mx-auto color-secondary text-center">Los cultivos hidropónicos llegan a La Paz</h1></h5>
  <img src="/img/ecofres1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      Empresas ofrecen hortalizas producidas en agua.

La Paz. Lechugas hidropónicas en la agencia Hipermaxi, ubicada en las Torres Mall.
La Paz. Lechugas hidropónicas en la agencia Hipermaxi, ubicada en las Torres Mall. Foto: Miguel Carrasco

La Razón (Edición Impresa) / Marco A. Ibáñez / La Paz

00:00 / 10 de abril de 2019

El cultivo de hortalizas frescas, sanas y abundantes sin necesidad de usar tierra es un modelo de agricultura urbana comercial que va tomando forma en La Paz luego de haber incursionado en Santa Cruz y Cochabamba.

“La hidroponía es un método autosustentable y amigable con el medio ambiente con el que se producen plantas de alto valor nutricional con soluciones minerales en vez de suelo”, comentó a La Razón Jaime Candia, gerente general de Ecofresh, que instaló en Achumani un invernadero de 500 metros cuadrados con una capacidad de producción de hasta 2.000 lechugas por semana.

De acuerdo con la Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO), los cultivos hidropónicos son: sanos, pues se riegan con agua potable y se siembran en sustratos limpios y libres de contaminación; aptos para pequeños espacios, techos, paredes y terrazas; fáciles de aprender y de practicar a costo reducido; emplean materiales de desecho; no requieren de grandes inversiones; y presentan mayor rendimiento en menor tiempo. En un metro cuadrado de suelo, por ejemplo, se siembran nueve lechugas, mientras que en un metro cuadrado en hidroponía se obtienen 25.

“Agarramos una semillita y la ponemos en el almácigo o en una esponja o fibra, donde se queda sin ver el sol por una semana. Cuando salen sus primeras hojitas —a la segunda semana— la pasamos a una bandeja flotante para su alimentación con nutrientes; ahí recibe luz solar y comienza a crecer”, describió Candia.

Los nutrientes que utilizan las hortalizas cultivadas en agua varían de acuerdo con el tipo. En el caso de las lechugas se utilizan fosfato monoamónico, ácido bórico, molibdato de amonio, quelato de hierro, nitratos de calcio y de potasio, y sulfatos de magnesio, cobre, manganeso y zinc, detalló el productor.

Las hortalizas de Ecofresh se producen hasta en dos meses, desde su siembra hasta su comercialización, aunque el empresario redujo aún más ese tiempo con un sistema electrónico que controla los tiempos de riego, circulación del agua y temperatura.

Desarrollo. Candia, además, instaló ventanas que se abren y cierran de manera automática para darle una ambientación óptima al invernadero, que con un objetivo comercial se construyó con una inversión de $us 60.000.

Estos mecanismos fueron desarrollados exclusivamente para la empresa por expertos bolivianos.

“Podemos traer (equipos y tecnología) de China o de otro país, pero cuando llegan aquí hay que adaptarlos y capacitarnos en su uso: no es sencillo. Preferimos apoyarnos en nuestra gente joven”, destacó Candia, experimentado constructor que diseñó los planos, la estructura e ingeniería con la que funciona el invernadero, que actualmente funciona al 70% de su capacidad.

Las lechugas de Ecofresh ya se encuentran en el mercado local en las cadenas de supermercados Ketal, Fidalga e Hipermaxi, donde se exponen en novedosos muestrarios con los que el cliente puede vivir la experiencia de cosechar el producto de manera directa.

El precio de distribución oscila de Bs 5,70 a 6,50 la unidad y el de venta al público entre Bs 7,70 y 8,50. “La lechuga sembrada de forma tradicional cuesta Bs 9,50 y tiene un peso de entre 400 y 500 gramos; la hidropónica cuesta unos Bs 8, pesa de 250 a 350 gramos y contiene todos los elementos necesarios para la buena alimentación del ser humano”, afirmó el emprendedor.

En un sistema hidropónico se puede cultivar todo tipo de plantas como hortalizas, flores, pasto para forraje, condimentos, cactus y plantas ornamentales o medicinales, destaca la FAO.

En el país, varias empresas emplean esta técnica, como La Huerta y Valle Verde en La Paz, Hidro Natura en Santa Cruz e Hidroponía Boliviana en Cochabamba.
    </p>
    <a href="http://www.la-razon.com/suplementos/el_financiero/cultivos-hidroponicos-llegan-La_Paz-Financiero_0_3126287346.html" class="btn btn-outline-success">Mas informacion</a>
  </div>
</div>
</div></div>
